<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.VideoDao">

	<insert id="addLikeVideo" parameterType="video">
		INSERT INTO likelist VALUES
		(#{id}, #{userId})
	</insert>
	
	<delete id="deleteLikeVideo" parameterType="String">
		DELETE FROM likelist WHERE id= #{id} AND userid = #{userId}
	</delete>
	
	<select id="getLikeListByUserID" resultType="video" parameterType="String">
		SELECT * FROM likelist WHERE userid = #{userId}
	</select>
</mapper>